<div class="content1">
    <div class="content2">
      
      
        <h1 class="tit"><b>Postulaciones</b></h1>
      
      <div class="label row">
         Buscar por nombre:
      </div>
      
          <select class="inputs" name="nombrea">
              <option value="volvo">Vanessa Velez Portera</option>
              <option value="saab">Vanesa Velez</option>
              <option value="fiat">Stiven Duran</option>
              <option value="audi">Camila de la Espriella</option>
          </select>
     
      <br><br><br><br>
      <div class="label row">
          Buscar por rol:
       </div>
      
          <select class="inputs" name="passa">
              <option value="volvo">Desarrollador Front-End</option>
              <option value="saab">Vanesa Velez</option>
              <option value="fiat">Stiven Duran</option>
              <option value="audi">Camila de la Espriella</option>
          </select>

         
      <div class="content3">
        <a [routerLink]="[{outlets:{sesion: ['votacion'] } }]" routerLinkActive="active"><img src='src/assets/b1.png'/></a>
      </div>
      <div class="row">
        <input type="submit" value="Seleccionar">
      </div>
    </div>
</div>