.content1{
width: 100%;
height: 100%;

/*Alinear*/
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.content2{
    border-radius: 8%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40%;
    vertical-align: middle;
    padding: 3%;
    
}

.inputs {
    font-size: 1.6vw;
    width: 90%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 27px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.6);
    color: rgba(200, 0, 0, 0.5);
    
}

input[type=button] {
    font-size: 1.6vw;
    width: 50%;
    padding: 4%;
    margin:3%;
    background-color: rgba(200, 0, 0, 1);
    color: white;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 27px;
    box-sizing: border-box;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(200, 0, 0, 0.7);
}

.tit{
    text-align: center;
    color: rgba(200, 0, 0, 1);
    font-size: 3vw;
    margin: 2%;
}

.tit2{
    font-size: 1.3vw;
    text-align: center;
    color: rgba(200, 0, 0, 1);
}




