/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
    margin:0px;
}
body {
   height: 100%;
   margin: 0px;
   background-image: url("./assets/img1.png");
   background-size: 100%;
   font-family: Raleway;
}



